/* Give your page a fun background color */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Make the header and footer a different color from the background */
/* Align the h1 containing your name in the center of the header*/
header {
  background-color: #777;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  color: black;
}

/* Change the font-family of your list */
li {
  padding: 5px;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
}
h3 {
  margin-left: 44px;
}

/* Make your p tag a different color and italic */
p {
  color: white;
  font-style: italic;
}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  flex: 1;
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 0;
  background: #ccc;
  padding: 20px;
}

/* Put a border around your image */
img {
  width: 230px;
  height: 300px;
  text-align: center;
  border: 5px solid #555;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

/* Style the footer */
footer {
  margin-top: auto;
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: gray;
}
