/* Give your page a fun background color */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
 
}

/* Make the header and footer a different color from the background */
/* Align the h1 containing your name in the center of the header*/
 header {
  background-color: azure; 
  margin: 0;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: black;
  }

  p {
    color: black;
  }



/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;
  flex: 1;
  
  
}

/* Style the navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 0;
  background: #ccc;
  padding: 20px;
}

img {
  width: 230px;
  height: 300px;
  text-align: center;
  border: 5px solid #555;

}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f1f1f1;
  padding: 10px;
}

  /* Style the footer */
  footer {
    margin-top: auto;
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: gray;
  }





/* Make your p tag a different color and italic */

/* Put a border around your image */

/* Change the font-family of your list */